body{
  text-align: left;
  padding-top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}
input{
    text-align: left;
    border-radius: 2px;
    width: 280px;
    border: 1px;
    border-style: solid;
    margin: 5px 0;
    padding: 12px 20px;
  }
label{
    padding-right: 250px;
}
