{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}

{% block nav %}
    <b>Logged as {{ name }}</b>
{% endblock %}

{% block body %}
<br>
<form method="POST" action="/change">
    <div class="form-group">
      <label for="exampleInputEmail1">New Password</label>
      <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="New Password" name="pass" width="50">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm New Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="cpass" width="50">
    </div>
<br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  
   {% with logmsg = get_flashed_messages() %}
        {% if logmsg %}  
            {% for message in logmsg %}  
            <div class="alert alert-danger" role="alert"><p>{{ message }}</p></div>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}
  

{% endblock %}