<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login</title>
</head>
<body>
    <h2> Welcome to the Great Kirikalan Magic Show</h2>
    <br>
    <h2>Login</h2><br>
    <form action='/login' method="POST">
        <div class="container">
            <label for="uname">Username</label><br>
            <input type="text" placeholder="Enter Username" name="uname" required><br>
    
            <label for="psw">Password</label><br>
            <input type="password" placeholder="Enter Password" name="psw" required><br><br>
        
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <br>
            <p> Don't Have an Account? <a href="{{url_for('reg')}}">Register Here</a></p>
            <br>
        
                {% with logmsg = get_flashed_messages() %}
                     {% if logmsg %}  
                         {% for message in logmsg %}  
                         <div class="alert alert-danger" role="alert"><p>{{ message }}</div></p>  
                         {% endfor %}  
                     {% endif %}  
                 {% endwith %}
            </div>
            
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>